.center {
  @include center;
}

.center-between {
  @include center-between;
}

@for $index from 0 through 10 {
  .ml-#{$index} {
    margin-left: $index * 4px;
  }

  .mr-#{$index} {
    margin-right: $index * 4px;
  }

  .mt-#{$index} {
    margin-top: $index * 4px;
  }

  .mb-#{$index} {
    margin-bottom: $index * 4px;
  }

  .m-#{$index} {
    margin: $index * 4px;
  }

  .pl-#{$index} {
    padding-left: $index * 4px;
  }

  .pr-#{$index} {
    padding-right: $index * 4px;
  }

  .pt-#{$index} {
    padding-top: $index * 4px;
  }

  .pb-#{$index} {
    padding-bottom: $index * 4px;
  }

  .p-#{$index} {
    padding: $index * 4px;
  }
}
