$black: #000;
$white: #fff;

$fields-color: #f0f0f0;

$primary-color: #9310fa;
$primary-light: #f7ecff;

$secondary-color: #ffa033;

$error-color: #d32f2f;

$primary-text-color: #212121;
$secondary-text-color: #616161;
