.first-try__step-six {
  .first-try__step-six__badge-container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    max-height: 320px;
    overflow-y: auto;
  }

  &__search {
    margin-bottom: 16px;
  }

  &__badges {
    @include center;
    width: fit-content;
    border-radius: 32px;
    gap: 8px;
  }

  &__error {
    margin-top: 0;
    color: $error-color;
  }
}
