.login-page {
  @include flex-list;
  align-items: center;
  padding: 32px 16px;
  min-height: 100vh;

  svg.login-page__logo {
    @include icon(100px);
    display: block;
    margin: 0 auto;

    path {
      fill: $primary-color;
    }
  }

  .login-page__form {
    @include flex-list;
  }
}
